_site
.sass-cache
vendor/bundle
.bundle
Gemfile.lock
*.gem
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.tex
.DS_Store
/.DS_Store
*.DS_Store
.DS_Store
.DS_Store
.DS_Store
CV/Gould_Resume.txt
.DS_Store
